<footer class="w-100 navbar-light text-white p-5 ps-0 pb-3">
  <div class="container-fluid">
    <div class="d-flex row">
      <div class="col-12 col-md-6 col-lg-3 text-center my-md-3 my-lg-0">
        <img
          src="../../../assets/Project/2/1-removebg-preview-edit-1.png"
          class="w-50"
          alt=""
        />
      </div>
      <div class="col-12 col-md-6 col-lg-3 my-4 my-md-3 my-lg-0">
        <h3>About us</h3>
        <p class="M-line-height">
          I am text block. Click edit button to change this text. Lorem ipsum
          dolor sit amet, consectetur. I am text block. Click edit button to
          change this text. Lorem ipsum dolor sit amet, consectetur.
        </p>
        <p>
          We are the champions! We are the most amazing theme of all time, yeah.
        </p>
      </div>
      <div class="contactUs col-12 col-md-6 col-lg-3 my-4 my-md-3 my-lg-0">
        <h3>Contact Us</h3>
        <ul class="text-decoration-none list-unstyled">
          <li>
            <i class="bi bi-telephone"></i>
            +46 123 456 789
          </li>
          <li>
            <i class="bi bi-envelope-at"></i>
            hello@sitename.com
          </li>
          <li>
            <i class="bi bi-geo-alt"></i>
            Manchester Road 123-78B Lorem ipsum dolor sit amet. Lorem, ipsum
            dolor.
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-3 my-4 my-md-3 my-lg-0">
        <h3>Our Services</h3>
        <ul class="M-line-height">
          <li class="">Lorem ipsum dolor sit amet consectetur facere?</li>
          <li class="">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </li>
          <li class="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </li>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit?
          </li>
        </ul>
      </div>
    </div>
    <div class="copyRight _MClight pt-2 text-center w-100 border-0 border-top">
      copy right @ Lorem ipsum dolor sit amet.
    </div>
  </div>
</footer>
