<section id="ourServices" class="handelNav mt-3">
  <div class="material-1 container">
  <div class="row">
    <h2 class=" text-center fs-1 position-absolute fw-semibold _MCpurple">Material 1</h2>
    <p class="backText text-center position-relative fw-medium w-100 my-5">Lorem</p>
  </div>
    <div class="mat1Imgs w-100 d-flex row justify-content-center">
      <div class="img1 col-lg-3 col-md-3 col-12 rounded-4 transition"></div>
      <div class="img2 col-lg-5 col-md-3 col-12 rounded-4 transition my-lg-0 mx-3 my-4"></div>
      <div class="img3 col-lg-3 col-md-3 col-12 rounded-4 transition"></div>
    </div>
    <p class=" text-center my-4 ps-lg-5">material 1 desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatibus numquam dicta perspiciatis maiores exercitationem delectus harum quia reprehenderit nobis.</p>
  </div>

<div class="material-2 container">
  <div class="row">
    <h2 class="text-center fs-1 position-absolute fw-semibold _MCpurple pt-5 mt-5">Material 2</h2>
    <p class="backText text-center position-relative fw-medium w-100 my-5">Lorem</p>
  </div>
  <div class="mat2Imgs w-100 d-flex row justify-content-center">
    <div class="img1 col-lg-4 col-md-5 col-12 rounded-4 transition"></div>
    <div class="img2 col-lg-7 col-md-5 col-12 rounded-4 transition my-lg-0 my-md-0 mx-3 my-3"></div>
  </div>
  <p class=" text-center my-4 ps-lg-5">material 2 desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus voluptatibus numquam dicta perspiciatis maiores exercitationem delectus harum quia reprehenderit nobis.</p>
</div>

<div class="material-3 container">
  <div class="row">
    <h2 class="text-center fs-1 position-absolute fw-semibold _MCpurple pt-5 mt-5">Material 3</h2>
    <p class="backText text-center position-relative fw-medium w-100 my-5">Lorem</p>
  </div>
  <div class="mat3Imgs w-100 d-flex row justify-content-center">
    <div class="img1 col-lg-4 col-md-6 col-12 rounded-4 transition "></div>
    <div class="img2 col-lg-4 col-md-6 col-12 rounded-4 transition "></div>
    <div class="img3 col-lg-4 col-md-6 col-12 rounded-4 transition "></div>
    <div class="img5 col-lg-5 col-md-6 col-12 rounded-4 transition"></div>
    <div class="img4 col-lg-7 col-12 rounded-4 transition"></div>
  </div>
  <p class=" text-center my-4 ps-lg-5">material 3 desc Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, debitis. Possimus minima nihil eius voluptatem, quo recusandae magnam alias sapiente. adipisicing elit. Doloribus voluptatibus numquam dicta perspiciatis maiores exercitationem delectus harum quia reprehenderit nobis.</p>
</div>

<div class="material-4 container">
  <div class="row">
    <h2 class="text-center fs-1 position-absolute fw-semibold _MCpurple pt-5 mt-5">Material 4</h2>
    <p class="backText text-center position-relative fw-medium w-100 my-5">Lorem</p>
  </div>
  <div class="mat4Imgs w-100 d-flex row justify-content-center">
    <div class="img1 col-lg-5 col-md-5 col-12 rounded-4 transition"></div>
    <div class="img2 col-lg-5 col-md-5 col-12 rounded-4 transition my-lg-0 my-md-0 ms-3 my-4"></div>
  </div>
  <p class=" text-center my-4 ps-lg-5">material 4 desc Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, debitis. Possimus minima nihil eius voluptatem, quo recusandae magnam alias sapiente. adipisicing elit. Doloribus voluptatibus numquam dicta perspiciatis maiores exercitationem delectus harum quia reprehenderit nobis.</p>
</div>
</section>

<app-footer></app-footer>
