<header class="handelNav position-relative vh-100 d-flex">
<div class="container mt-md-5">
  <div class="row align-items-center justify-content-center">
    <div class="headText col-lg-6 col-12 pt-5 px-md-5 px-0">
      <h4 class="_MClight">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
        debitis maiores aut nam possimus totam molestias laboriosam velit labore
        fuga.
      </h4>
      <h5 class="_MClight py-5">Lorem ipsum dolor sit amet <span></span>.</h5>
      <button class="btn btnStyle w-50 py-3" routerLink="/contactUs">Contact us</button>
    </div>
    <div class="headImg col-lg-6 col-12">
    <img class="w-100" src="../../../assets/Project/2/1-removebg-preview.png" alt="">
    </div>
  </div>
</div>
</header>
<!-- LATER CAN ADD HERE A SECTION BUT DIDN'T DECIDE YET -->
<section id="ourGalary" class="">
  <div class="d-flex my-5">
    <h2 class="text-center _MCbluePurple w-100 position-absolute fw-medium">
      WHAT WE DO
    </h2>
    <p class="backText text-center position-relative fw-semibold w-100 mt-5">
      Take a look
    </p>
  </div>
  <app-carousel-holder></app-carousel-holder>
</section>
<div id="contactUs">
  <app-contact-us></app-contact-us>
</div>
